<div class="sidenav">
    <ul class ="list-unstyled">
      <li style="margin-top:10rem">
          <a [routerLink]="['/recommendations',username]">Recommendations</a>
      </li>
      <li>
        <a [routerLink]="['/mypolicies']">My Policies</a>
      </li>
      <li><a [routerLink]="['/myrequests',username]" >My Requests</a></li>
      <li><a [routerLink]="['/porting']">Porting Request</a></li>
      <li><a [routerLink]="['/myprofile',username]">My profile</a></li>
    </ul>
     </div>
    <div class="main">
    </div>
    
    