<div class="sidenav">
    <ul class ="list-unstyled">
        <li style="margin-top:10rem">
 
           <a [routerLink]="['/myCompanyPolicy',insurerLicense]" routerLinkActive = "active" >My Policies</a>
   
        </li>
        <li>

            <a [routerLink]="['/incomingPortingRequest',insurerLicense]" routerLinkActive = "active" > Incomming Poritng Requests</a>
        </li>
   
   
      <li>
          <a [routerLink]="['/outgoingPortingRequest',insurerLicense]" routerLinkActive = "active" > Outing Poritng Requests</a>
        </li>

      <li><a routerLink='/newPolicyForm' routerLinkActive = "active" >Add New Policy</a></li>
   
   
   </ul>
   </div> -->
   
     <!-- Page content -->