<div class="container">
  <section class="herocontainer">
<carousel [noPause]="noPause">
    <slide>
      <img src="./../assets/img/energy-home-hero-banner.jpg" alt="First slide"  style="display: block; width: 100%;">
      <div class="carousel-caption text-right">
          <!-- <h3 class="h3-responsive">
          
            Say Yes to a Sweet Life with
            A Health Plan That Truly<br>
            Understands Diabetes
        </h3> -->
        <div class="card pull-right">
          <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
            <h4 class="card-title">Say yes to a sweet life with</h4>
            <p class="card-text">A Health Plan that truly understands Diabetes</p>
            <a href="#" class="btn btn-warning">Know More</a>
        </div>
            </div>
    </slide>
     
     <slide>
      <img src="./../assets/img/health-insurance-home-hero-banner.jpg" alt="Third slide"  style="display: block; width: 100%;">
      <div class="carousel-caption text-right">
          <h3 class="h3-responsive">Secure your family future</h3>
       
      </div>
    </slide>
    <slide>
        <img src="./../assets/img/health-wallet-home-hero-banner.jpg" alt="Third slide"  style="display: block; width: 100%;">
        <div class="carousel-caption text-right">
            <h3 class="h3-responsive">
          
                Cancer might be a lifelong problem<br>
                It's best to have a lifelong plan
            </h3>
        </div>
      </slide> 
   </carousel>
   <br/>
  </section>


  <!-- <section id="about">
    <div class="section-content">
    <div class="container">
        <div class="col-md-6">
        <div class="about-text">
        <h3>About us</h3>
          <p class="lead">
                We are the Red Rants who have 3 words spouting from our think tanks. Benguluru, Football, United.
                We are an ever-growing prodigious 1500+ delirious United fans. MUFC-B can now rightfully be called
                a repository, a community, of United fans based in Benguluru. Our primary intent is to bring these
                hundreds of enthusiastic fans under the same roof by the dint of organizing screenings based on the
                Manchester United fixtures. MUSC-B tenaciously aims at conforming the soaring Red Flag in
                Benguluru.
          </p>
      </div>
      </div>
      </div>
      </div>
      </section> -->

  </div>

