<div class="container">
    <section class="herocontainer">
  <carousel [noPause]="noPause">
      <slide>
        <img src="./../assets/img/energy-home-hero-banner.jpg" alt="First slide"  style="display: block; width: 100%;">
        <div class="carousel-caption text-right">
            <!-- <h3 class="h3-responsive">
            
              Say Yes to a Sweet Life with
              A Health Plan That Truly<br>
              Understands Diabetes
          </h3> -->
          <div class="card pull-right">
            <!-- <img class="card-img-top" src="img_avatar1.png" alt="Card image"> -->
              <h4 class="card-title">Say yes to a sweet life with</h4>
              <p class="card-text">A Health Plan that truly understands Diabetes</p>
              <a href="#" class="btn btn-warning">Know More</a>
          </div>
              </div>
      </slide>
       
       <slide>
        <img src="./../assets/img/health-insurance-home-hero-banner.jpg" alt="Third slide"  style="display: block; width: 100%;">
        <div class="carousel-caption text-right">
            <h3 class="h3-responsive">Secure your family future</h3>
         
        </div>
      </slide>
      <slide>
          <img src="./../assets/img/health-wallet-home-hero-banner.jpg" alt="Third slide"  style="display: block; width: 100%;">
          <div class="carousel-caption text-right">
              <h3 class="h3-responsive">
            
                  Cancer might be a lifelong problem<br>
                  It's best to have a lifelong plan
              </h3>
          </div>
        </slide> 
     </carousel>
     <br/>
    </section>
  
  
    <!-- <section id="about">
      <div class="section-content">
      <div class="container">
          <div class="col-md-6">
          <div class="about-text">
          <h3>About us</h3>
            <p class="lead">
                  We are the Red Rants who have 3 words spouting from our think tanks. Benguluru, Football, United.
                  We are an ever-growing prodigious 1500+ delirious United fans. MUFC-B can now rightfully be called
                  a repository, a community, of United fans based in Benguluru. Our primary intent is to bring these
                  hundreds of enthusiastic fans under the same roof by the dint of organizing screenings based on the
                  Manchester United fixtures. MUSC-B tenaciously aims at conforming the soaring Red Flag in
                  Benguluru.
            </p>
        </div>
        </div>
        </div>
        </div>
        </section> -->
  
    </div>





<!-- 
            <div class="container divmargin">
               
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Strategy &amp; Planning</h4>
                                    <h6 class="card-subtitle">Support card card subtitle</h6>
                                </div>
                                <img src="Images/chalkboard.jpg" alt="a chalkboard">
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                    
                                    </p>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="myModal">
                                    learn more
                                    </button>
                                </div>
                            </div>
                            <div class="card">
                                    <div class="card-block">
                                        <h4 class="card-title">Creative &amp;Design</h4>
                                        <h6 class="card-subtitle">Support card card subtitle</h6>
                                    </div>
                                    <img src="Images/working.jpg" alt="working with laptop">
                                    <div class="card-block">
                                        <p class="card-text">
                                            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                        
                                        </p>
                                        <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="myModal">
                                        learn more
                                        </button>
                                    </div>
                                </div>

                                <div class="card">
                                        <div class="card-block">
                                            <h4 class="card-title">Strategy &amp; Planning</h4>
                                            <h6 class="card-subtitle">Support card card subtitle</h6>
                                        </div>
                                        <img src="Images/programming.jpg" alt="typing the keyboard with finger">
                                        <div class="card-block">
                                            <p class="card-text">
                                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                            
                                            </p>
                                            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="myModal">
                                            learn more
                                            </button>
                                        </div>
                                    </div>
                                    -->

                            
                               
                            
                    <!-- </div>   
                </div>
            </div>
            </div> -->

            <div class="container divmargin">
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-block">
                      <h3 class="card-title">Religare Joy Policy</h3>
                      <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_maternity.jpg"
                        alt=""></a>
                        <p>
                            Maternity and new-born focused health insurance with a nine month 
                            waiting period in line with nature's law, especially designed for those 
                            who are planning their family.
                        </p>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <a href="https://www.religarehealthinsurance.com/buy-maternity-health-insurance-plan.html" class="btn btn-primary">View</a>
                      <!-- <a href="#" class="btn btn-primary">Buy</a> -->
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-block">
                      <h3 class="card-title">Starhealth Family Policy</h3>
                      <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_optima-restore-banner.jpg"
                        alt=""></a>
                        <p>
                                Your family’s health and safety means the world to you. We understand that and want to help you protect your loved ones from situations beyond your control. Star Comprehensive Family Insurance Plan 
                                is perfect for you and your family for a life free from worries
                        </p>
                      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                      <a href="https://retail.starhealth.in/instantbuy/index.html/family" class="btn btn-primary" class="btn btn-primary">View</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                        <div class="card">
                          <div class="card-block">
                            <h3 class="card-title">Starhealth Individual Policy</h3>
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_hw-plans-bg-lg.jpg"
                                alt=""></a>
                                <p>
                                        Your family’s health and safety means the world to you. We understand that and want to help you protect your loved ones from situations beyond your control. Star Comprehensive Insurance Plan 
                                        is perfect for you for a life free from worries.
                                </p>
                            <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                            <a href="https://www.starhealth.in/health-insurance-plans" class="btn btn-primary">View</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                            <div class="card">
                              <div class="card-block">
                                <h3 class="card-title">Bajaj Silver Health Plan</h3>
                                <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/rsz_senior-citizens-red-carpet.png"
                                    alt=""></a>
                                    <p>
                                            Bajaj Allianz offers a wide range of affordable policies to cater to the diverse needs of customers.
                                            Our health insurance policies ensure that you and your loved ones get access to immediate care at the best hospitals without wiping out your hard-earned savings on these medical expenses.
                                    </p>
                                <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                                <a href="https://www.bajajallianz.com/Corp/health-insurance/health-insurance-plans.jsp" class="btn btn-primary">View</a>
                                <!-- <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="myModal">
                                        learn more
                                        </button> -->
                              </div>
                            </div>
                          </div>
                                
              </div>
                 
             