<!--Image carousel section-->
 <carousel [noPause]="noPause">
  <slide>
    <img src="./../assets/img/heroimage1.jpg" alt="First slide"  height = "400px" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </slide>
  <slide>
    <img src="./../assets/img/heroimage2.jpeg" alt="Second slide" height = "400px" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!-- <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </slide>
  <slide>
    <img src="./../assets/img/heroimage3.jpeg" alt="Third slide" height = "400px" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <!-- <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </slide>
  <slide>
      <img src="./../assets/img/heroimage4.jpg" alt="Third slide" height = "400px" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <!-- <h3>Fourth slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
      </div>
    </slide>
 </carousel>
 <br/>
 
<p class = "container">
  Pie is an online platform that aggregates insurance plans and serves as a marketplace for policies.
</p>