

<!-- <form [formGroup]="portingForm" class="normal" >
    <mat-form-field  style = "margin-left: 28%;">
    <input  matInput placeholder="Insured Name" formControlName="insuredName" required/>
  </mat-form-field>
  <mat-form-field  style = "margin-left: 28%;">
    <input matInput placeholder="Date of Birth" formControlName="dateOfBirth" required/>
  </mat-form-field>
  <br>
   <mat-form-field style = "margin-left: 28%;">
    <input matInput placeholder="Address" formControlName="insuredAddress" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="Existing policy name" formControlName="insurerProduct" required/>
    </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="Existing sum insured" formControlName="sumInsured" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="Existing Cumulative Bonus" formControlName="cumulativeBonus" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="Add-ons" formControlName="addOns" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="Existing Policy Number" formControlName="policyNumber" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="New Policy Name" formControlName="newInsurerProduct" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="New Sum Insured" formControlName="newSumInsured" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="New Cumulative Bonus" formControlName="newCumulativeBonus" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;">
      <input matInput placeholder="Reason for Portability" formControlName="reasonForPortability" required/>
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;margin-bottom: 10%;">
      <input matInput placeholder="No. of Family Members" formControlName="familyMembers">
  </mat-form-field>
  <mat-form-field style = "margin-left: 28%;margin-bottom: 10%;">
    <label>Whether the PED exclusion period is longer than the existing policy period</label>
      <input matInput formControlName="exclusionPeriod" required/>
  </mat-form-field>
  <div style = "margin-left: 50%; margin-bottom:20%;">
      <button class="btn btn-success btn-outline-rounded" (click)="submitForm()"> Submit <span style="margin-left:10px;"></span></button>
  </div>
 </form> -->
 
 <!-- <br><br>
 <input type="text" placeholder="Insured Name"  value="{{insuredName}}" required/><br><br>
 <input type="text" placeholder="Existing policy name" [(ngModel)] = "insurerProduct" (keyup) = "reach(insurerProduct)" required/>
 <div>
 <label style="margin-left: 5%;">Existing policy name:</label><br>

<select placeholder="Existing Policy Name" [(ngModel)] = "insurerProduct" (change) = "reach(insurerProduct)">
        <option style = "color: white;" *ngFor="let policyy of policies" [ngValue] = "policyy.policyName">{{policyy.policyName}}</option>
 </select> 
 <input type="text" placeholder="Existing insurer" [(ngModel)] = "policy.insurerName" readonly required/>
 <input type="text" placeholder="Existing sum insured"  [(ngModel)] = "policy.maxSumInsured" readonly required/>
 <input type="text" placeholder="Add-Ons" [(ngModel)] = "addon" required/>
 <input type="text" placeholder="Existing PolicyNumber" [(ngModel)] = "policy.policyId" readonly required/><br><br>
 <label style="margin-left: 5%;">New Policy name:</label><br>
 <select placeholder="New Policy Name"  [(ngModel)] = "newInsurerProd" (change) = "reach1(newInsurerProd)">
     <option value="cancer policy">cancer policy</option>
     <option value="starhealth-2">starhealth-2</option>
     <option value = "apollochildcare">apollochildcare</option>
 </select>
 <input type="text" placeholder="New Insurer" [(ngModel)] = "policy1.insurerName" readonly required/>
 <input type="text" placeholder="New Sum insured"  [(ngModel)] = "policy1.maxSumInsured" readonly required/>
  <input type="text" placeholder="New PolicyNumber" [(ngModel)] = "policy1.policyId" readonly required/> 
 <input type="text" placeholder="Reason for portability" [(ngModel)] = "reason" required/>
 <input type="text" placeholder="No of family members" [(ngModel)] = "familyMem" required/>
 <label style="margin-left: 5%;">Is PED exclusion period longer than the existing policy period?(true/false)</label>
 <input type="text" [(ngModel)] = "exclusion" required/><br><br>
 
 <div style = "margin-left: 50%; margin-bottom:20%;">
     <button class="btn btn-success btn-outline-rounded" (click)="submitForm(insuredName,insurerProduct,policy.insurerName,policy.maxSumInsured,addon,policy.policyId,newInsurerProd,policy1.insurerName,policy1.maxSumInsured,reason,familyMem,exclusion)"> Submit <span style="margin-left:10px;"></span></button>
 </div> -->
 
<!-- <app-footer></app-footer> 
<router-outlet></router-outlet> --> 
 <br><br>
  <input type="text" placeholder="Insured Name"  value="{{insuredName}}" required/><br><br>
 <label style="margin-left: 5%;">Existing policy name:</label><br>
<select placeholder="Existing Policy Name" [(ngModel)]="insurerProd"(change) = "reach(insurerProd)"> 
    <option *ngFor="let policyy of policies" value="{{policyy.policyName}}">{{policyy.policyName}}</option>
 </select> 

 <div *ngIf = "flag">
     <input type="text" placeholder="Existing insurer" [(ngModel)] = "anusha.insurerName" readonly required/>
     <input type="text" placeholder="Existing sum insured"  [(ngModel)] = "anusha.maxSumInsured" readonly required/>
     <input type="text" placeholder="Existing PolicyNumber" [(ngModel)] = "anusha.policyId" readonly required/>
 </div>
 <input type="text" placeholder="Add-Ons" [(ngModel)] = "addon" required/>

 <label style="margin-left: 5%;">New Policy name:</label><br>
 <select placeholder="New Policy Name"  [(ngModel)] = "newInsurerProd" (change) = "reach1(newInsurerProd)">
        <option *ngFor="let policyy1 of newpolicies" value="{{policyy1.policyName}}">{{policyy1.policyName}}</option>
 </select>
<div *ngIf="flag1">
        <input type="text" placeholder="New Insurer" [(ngModel)] = "policy1.insurerName" readonly required/>
        <input type="text" placeholder="New Sum insured"  [(ngModel)] = "policy1.maxSumInsured" readonly required/>
        <input type="text" placeholder="New PolicyNumber" [(ngModel)] = "policy1.policyId" readonly required/>
</div>
<input type="text" placeholder="Reason for portability" [(ngModel)] = "reason" required/>
 <input type="text" placeholder="No of family members" [(ngModel)] = "familyMem" required/>
 <label style="margin-left: 5%;">Is PED exclusion period longer than the existing policy period?(true/false)</label>
 <input type="text" [(ngModel)] = "exclusion" required/><br><br>
 
 <div style = "margin-left: 50%; margin-bottom:20%;">
     <button class="btn btn-success btn-outline-rounded" (click)="submitForm(insuredName,insurerProduct,policy.insurerName,policy.maxSumInsured,addon,policy.policyId,newInsurerProd,policy1.insurerName,policy1.maxSumInsured,reason,familyMem,exclusion)"> Submit <span style="margin-left:10px;"></span></button>
 </div
 

 
