#form-buscar{
    width:80rem;
    /* margin-left:10rem;
    margin-top: 5rem; */
    margin:2rem auto auto auto;
 }
 #collapsibleNavbar li{
    margin-top: 5%;
 }
 /* .signin{
     margin-left: 30%;
 } */
 
 .signin{
   margin-top: auto;
   margin-bottom: auto;
 }
 /* .nav navbar-nav navbar-right {
     margin-bottom: 10%;
 } */

 .nav-link dropdown{
     margin-left: 30%;
 }

@media only screen and (max-width: 425px){
    #form-buscar{
        width: auto;
        margin: auto;
    }
}
.example-container {
    height: 30%;
    margin: 10px;
    z-index: 1;
    width: 17%;
  }