<ng-template #loggedOut>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <nav class="navbar navbar-light" style="background-color:  #ffe6e6; height:85px;">
      <div class="container-fluid">
          <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <img src="./../../assets/img/logo1.png" alt="Logo" class = "img-responsive" width = "70px" height = "90px" >
     </a>
          </div>
<div class="collapse navbar-collapse dropdown show" id="collapsibleNavbar">
  <ul class="nav navbar-nav">
      <li></li>
    <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
    <li><a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a></li>
    <li><a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a></li>
  </ul>
      <form class="navbar-form navbar-left" (ngSubmit) = "search()" style="margin-left:15%;margin-top: 2%;">
        <div class="input-group">
          <input type="text" class="form-control" name="message" [(ngModel)]="message" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-success" type="submit">
              <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </form>
   
    <div class="signin" style=" margin-top: 1%;">
      <ul class="nav navbar-nav navbar-right">
      
          <a  [routerLink]="['/login']" ><span class="glyphicon glyphicon-user" ></span> Sign In</a>
          
     
    </ul>
    </div>
</div>
</div>

</nav> -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">
    <img src="./../../assets/img/logo1.png" alt="Logo" class = "img-responsive" width = "70px" height="90px" >

    </a>

  <div style ="font-size: 1.5rem; margin-right: 20px;" class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-tabs ml-auto">
              <li class="nav-item active"> 
                <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>

              </li>
          
            <li class="nav-item">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>            
            </li>
              <li class="nav-item">
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>  
              </li>
              <li class="nav-item">
                <a  [routerLink]="['/login']" ><span class="glyphicon glyphicon-user" ></span> Log In</a>

      </li>
        </ul>
        <form class="form-inline" (ngSubmit) = "search()">
          <input class="form-control" type="search" name="message" [(ngModel)]="message" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style = "font-size: 16px;display: inline;"><i class="glyphicon glyphicon-search"></i>Search</button>          
        </form>
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button style ="font-size: 18px;" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
        </form> -->
      </div>
 
</nav>




</ng-template>

 <!-- <mat-toolbar color="warn" *ngIf="info.token;else loggedOut" style="opacity:0.5">
  <mat-toolbar-row><button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    

    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="margin-bottom: 3.8rem;">
        <img
          src="./../../assets/img/logo1.png"
          alt="Logo"
          class="img-responsive"
          width="70px"
          height="80px"
        />
      </a>
    </div>
    <div class="collapse navbar-collapse dropdown show" id="collapsibleNavbar">
      <ul class="nav navbar-nav">
        <li></li>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
        <form class="navbar-form navbar-left" (ngSubmit) = "search()" style="margin-left:15%;margin-top: 2%;">
          <div class="input-group">
            <input type="text" class="form-control" name="message" [(ngModel)]="message" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
     
      <div class="signin" style=" margin-top: 1%;">
        <ul class="nav navbar-nav navbar-right">
        
            <a  [routerLink]="['/login']" ><span class="glyphicon glyphicon-user" ></span> Sign In</a>
            
       
      </ul>
    </div>
</mat-toolbar-row>
</mat-toolbar>  -->

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top" *ngIf="info.token;else loggedOut">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a class="navbar-brand" href="#">
      <img src="./../../assets/img/logo1.png" alt="Logo" class = "img-responsive" width = "50px" >
  
      </a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-tabs ml-auto">
                <li class="nav-item active"> 
                  <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
  
                </li>
            
              <li class="nav-item">
              <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>            
              </li>
                <li class="nav-item">
              <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>  
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                  </li>
          </ul>
        </div>
          <div class="nav-searchbar-wrapper nav-item">
          <form class="form-inline" (ngSubmit) = "search()">
            <input class="form-control" type="search" name="message" [(ngModel)]="message" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary mb-2" type="submit">Search</button>
            
          </form>
        </div>
        
   
  </nav>
  
<mat-sidenav-container class="example-container" *ngIf="(info.token)&&((dashboard()));">
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/mypolicies', insuredName]"
        routerLinkActive="active"
        >My Policies</a
      >
      <a
        mat-list-item
        [routerLink]="['/recommendations', insuredName]"
        routerLinkActive="active"
        >Recommendations</a
      >
      <a
        mat-list-item
        [routerLink]="['/myrequests', insuredName]"
        routerLinkActive="active"
        >My Requests</a
      >
      <a mat-list-item [routerLink]="['/porting']" routerLinkActive="active"
        >Porting Request</a
      >
      <a
        mat-list-item
        [routerLink]="['/myprofile', insuredName]"
        routerLinkActive="active"
        >My profile</a
      >
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="example-container" *ngIf="(info.token)&&(!(dashboard()))" >
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      
      <a mat-list-item [routerLink]="['/myCompanyPolicy',insurerName]" routerLinkActive = "active" >My Policies</a>
      <a mat-list-item [routerLink]="['/incomingPortingRequest',insurerName]" routerLinkActive = "active" > Incoming Porting Requests</a>
      <a mat-list-item [routerLink]="['/outgoingPortingRequest',insurerName]" routerLinkActive = "active" > Outgoing Porting Requests</a>
      <a mat-list-item [routerLink]="['/newPolicyForm']" routerLinkActive = "active" >Add New Policy</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div *ngIf="info.token;else loggedOut"> -->
<!-- <mat-toolbar color="warn" style="opacity:0.5;">
    <mat-toolbar-row >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        color="primary"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="margin-bottom: 3.8rem;">
          <img
            src="./../../assets/img/logo1.png"
            alt="Logo"
            class="img-responsive"
            width="70px"
            height="80px"
          />
        </a>
      </div>
      <div class="collapse navbar-collapse dropdown show" id="collapsibleNavbar">
        <ul class="nav navbar-nav">
          <li></li>
          <li>
            <a [routerLink]="['/home']" routerLinkActive="router-link-active"
              >Home</a
            >
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div>
        <form
          class="navbar-form navbar-left"
          (ngSubmit)="search()"
          style="margin-left:30%;margin-bottom: 1%;"
        >
          <div class="input-group" style="margin-bottom:1%;">
            <input type="text" class="form-control" placeholder="Search" />
            <div class="input-group-btn">
              <button class="btn btn-success" type="submit">
                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="signout" style=" margin-top: 1%;margin-left: 30%;">
        <ul class="nav navbar-nav navbar-right">
      
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
  </mat-toolbar-row>
  </mat-toolbar> 
  <mat-sidenav-container class="example-container" *ngIf="(info.token)&&((dashboard()));">
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="['/mypolicies', insuredName]"
          routerLinkActive="active"
          >My Policies</a
        >
        <a
          mat-list-item
          [routerLink]="['/recommendations', insuredName]"
          routerLinkActive="active"
          >Recommendations</a
        >
        <a
          mat-list-item
          [routerLink]="['/myrequests', insuredName]"
          routerLinkActive="active"
          >My Requests</a
        >
        <a mat-list-item [routerLink]="['/porting']" routerLinkActive="active"
          >Porting Request</a
        >
        <a
          mat-list-item
          [routerLink]="['/myprofile', insuredName]"
          routerLinkActive="active"
          >My profile</a
        >
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-sidenav-container class="example-container" *ngIf="(info.token)&&(!(dashboard()))" >
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        
        <a mat-list-item [routerLink]="['/myCompanyPolicy',insurerName]" routerLinkActive = "active" >My Policies</a>
        <a mat-list-item [routerLink]="['/incomingPortingRequest',insurerName]" routerLinkActive = "active" > Incoming Porting Requests</a>
        <a mat-list-item [routerLink]="['/outgoingPortingRequest',insurerName]" routerLinkActive = "active" > Outgoing Porting Requests</a>
        <a mat-list-item [routerLink]="['/newPolicyForm']" routerLinkActive = "active" >Add New Policy</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>-->