<ng-template #loggedOut>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img
        src="./../../assets/img/logo1.png"
        alt="Logo"
        class="img-responsive"
        width="70px"
        height="90px"
      />
    </a>

    <div
      style="font-size: 1.5rem; margin-right: 20px;"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="nav nav-tabs ml-auto">
        <li class="nav-item active">
          <a [routerLink]="['/home']" routerLinkActive="router-link-active"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a [routerLink]="['/about']" routerLinkActive="router-link-active"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a [routerLink]="['/login']"
            ><span class="glyphicon glyphicon-user"></span> Log In</a
          >
        </li>
      </ul>
      <form class="form-inline" (ngSubmit)="search()">
        <input
          class="form-control"
          type="search"
          name="message"
          [(ngModel)]="message"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
          style="font-size: 16px;display: inline;"
        >
          <i class="glyphicon glyphicon-search"></i>Search
        </button>
      </form>
    </div>
  </nav>
</ng-template>

<!-- <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse sticky-top" *ngIf="info.token;else loggedOut">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a class="navbar-brand" href="#">
      <img src="./../../assets/img/logo1.png" alt="Logo" class = "img-responsive" width = "50px" >
  
      </a>
  
    <div style ="font-size: 1.5rem; margin-right: 20px;" class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav nav-tabs ml-auto">
                <li class="nav-item active"> 
                  <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
  
                </li>
            
              <li class="nav-item">
              <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>            
              </li>
                <li class="nav-item">
              <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>  
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                  </li>
          </ul>
        <form class="form-inline" (ngSubmit) = "search()">
          <input class="form-control" type="search" name="message" [(ngModel)]="message" placeholder="Search" aria-label="Search"/>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style = "font-size: 16px;display: inline;"><i class="glyphicon glyphicon-search"></i>Search</button>          
        </form>
    </div>
   
  </nav>     -->

<mat-sidenav-container
  class="container"
  *ngIf="info.token && dashboard(); else loggedOut"
>
  <mat-sidenav
    #sidenav
    [(mode)]="over"
    [(opened)]="opened"
    class="bottom-to-top"
  >
    <div
      class="my-2"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <div class="with-bg"></div>
      <div>
        <a>
          <img
            class="circle"
            src="./../../assets/img/profile1.jpg"
            width="100"
          />
        </a>
      </div>
    </div>
    <div
      style="background-color: #3e50b5 !important;"
      class="mt-2 py-3 text-white"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="7px"
    >
      <div>
        <a>
          <span class="lead">{{ insuredName }}</span>
        </a>
      </div>
      <div>
        <a>
          <span class="">hello@khophi.co</span>
        </a>
      </div>
    </div>
    <div class="mt-3">
      <mat-nav-list>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/mypolicies', insuredName]"
          routerLinkActive="active"
          style="font-size:15px;"
        >
          My Policies
        </a>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/recommendations', insuredName]"
          routerLinkActive="active"
          style="font-size:15px;"
        >
          Recommendations
        </a>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/myrequests', insuredName]"
          routerLinkActive="active"
          style="font-size:15px;"
        >
          My Requests
        </a>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/myprofile', insuredName]"
          routerLinkActive="active"
          style="font-size:15px;"
        >
          My profile
        </a>
      </mat-nav-list>
      <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header
            fxLayout="row"
            [expandedHeight]="expandHeight"
            [collapsedHeight]="collapseHeight"
          >
            <mat-panel-title>
              Porting Request
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>            
            <a
              mat-list-item
              [routerLink]="['/porting']"
          routerLinkActive="active"
             >
              Apply  for porting request</a
            >
            <a
              mat-list-item
              href='https://economictimes.indiatimes.com/wealth/insure/all-you-need-to-know-about-porting-your-health-insurance-policy/articleshow/67393982.cms'
            >Things to Check</a
            >
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow.sm="true"
        fxShow.gt-sm="false"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        fxShow.lt-md="false"
        fxShow.gt-sm="true"
      >
        <mat-icon>account_circle</mat-icon>
        <span class="ml-2">Account</span>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        fxShow.lt-md="true"
        fxShow.gt-sm="false"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>money</mat-icon>
          <span>Billing</span>
        </button>
      </mat-menu>
      <mat-icon class="ml-3" title="Logout" (click)="logout()">exit_to_app</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <div class="wrapper" *ngIf="(info.token)&&((dashboard())); else loggedOut">
    <nav id="sidebar" class = "d-inline-block">
        <div class="sidebar-header">
            <h3>Bootstrap Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li>
              <a  [routerLink]="['/mypolicies', insuredName]" routerLinkActive="active">My Policies</a>    
                  </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

       
    </nav>
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse pull-right" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                          <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                        </li>
                        <li class="nav-item">
                          <a [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>            
                        </li>
                        <li class="nav-item">
                          <a [routerLink]="['/contact']" routerLinkActive="router-link-active">Contact</a>  
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav> -->

<!-- <h2>Collapsible Sidebar Using Bootstrap 4</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="line"></div>

        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="line"></div>

        <h2>Lorem Ipsum Dolor</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <div class="line"></div>

        <h3>Lorem Ipsum Dolor</h3> -->
<!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
<!-- </div>
</div>  -->

<!-- <mat-sidenav-container
  class="example-container"
  *ngIf="info.token && !dashboard()" 
>
  <mat-sidenav #drawer mode="side" opened role="navigation">
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/myCompanyPolicy', insurerName]"
        routerLinkActive="active"
        >My Policies</a
      >
      <a
        mat-list-item
        [routerLink]="['/incomingPortingRequest', insurerName]"
        routerLinkActive="active"
      >
        Incoming Porting Requests</a
      >
      <a
        mat-list-item
        [routerLink]="['/outgoingPortingRequest', insurerName]"
        routerLinkActive="active"
      >
        Outgoing Porting Requests</a
      >
      <a
        mat-list-item
        [routerLink]="['/newPolicyForm']"
        routerLinkActive="active"
        >Add New Policy</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-sidenav-container
  class="container"
  *ngIf="info.token && !dashboard();"
>
  <mat-sidenav
    #sidenav
    [(mode)]="over"
    [(opened)]="opened"
    class="bottom-to-top"
  >
    <div
      class="my-2"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <div class="with-bg"></div>
      <div>
        <a>
          <img
            class="circle"
            src="./../../assets/img/profile1.jpg"
            width="100"
          />
        </a>
      </div>
    </div>
    <div
      style="background-color: #3e50b5 !important;"
      class="mt-2 py-3 text-white"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="7px"
    >
      <div>
        <a>
          <span class="lead">{{ insurerName }}</span>
        </a>
      </div>
      <div>
        <a>
          <span class="">hello@khophi.co</span>
        </a>
      </div>
    </div>
    <div class="mt-3">
      <mat-nav-list>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/myCompanyPolicy', insurerName]"
        routerLinkActive="active"
          style="font-size:15px;"
        >
          My Policies
        </a>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/incomingPortingRequest', insurerName]"
          routerLinkActive="active"
          style="font-size:15px;"
        >
         Incoming Porting Request
        </a>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/outgoingPortingRequest', insurerName]"
        routerLinkActive="active"
          style="font-size:15px;"
        >
        Outgoing Porting Request
      </a>
        <a
          mat-list-item
          class="ml-2"
          [routerLink]="['/newPolicyForm']"
          routerLinkActive="active"
          style="font-size:15px;"
        >
          Add New Policy
        </a>
      </mat-nav-list>
      <mat-accordion multi="true" [displayMode]="displayMode">
        <mat-expansion-panel class="no-shadow">
          <mat-expansion-panel-header
            fxLayout="row"
            [expandedHeight]="expandHeight"
            [collapsedHeight]="collapseHeight"
          >
            <mat-panel-title>
              Porting Request
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list class="ml-0" dense>            
            <a
              mat-list-item
              [routerLink]="['/porting']"
          routerLinkActive="active"
             >
              Apply  for porting request</a
            >
            <a
              mat-list-item
              href='https://economictimes.indiatimes.com/wealth/insure/all-you-need-to-know-about-porting-your-health-insurance-policy/articleshow/67393982.cms'
            >Things to Check</a
            >
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-box-shadow">
      <button
        mat-icon-button
        (click)="sidenav.toggle()"
        fxShow.sm="true"
        fxShow.gt-sm="false"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        fxShow.lt-md="false"
        fxShow.gt-sm="true"
      >
        <mat-icon>account_circle</mat-icon>
        <span class="ml-2">Account</span>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        fxShow.lt-md="true"
        fxShow.gt-sm="false"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>My Account</span>
        </button>
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings</span>
        </button>
        <button mat-menu-item>
          <mat-icon>money</mat-icon>
          <span>Billing</span>
        </button>
      </mat-menu>
      <mat-icon class="ml-3" title="Logout" (click)="logout()">exit_to_app</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
