<br>
<br>
<br>
<app-side-bar></app-side-bar>
<!-- <div *ngFor = "let request of requests">
{{ request.portingRequestId }}
{{ request.insuredName }}
{{ request.newInsurerName }}
<button class = "btn btn-primary" (click)="port(request)">Accept IncPR</button>
<button class = "btn btn-primary" (click)="port1(request)">Reject IncPR</button>
  </div> -->

  <div class="mypolicy">
      <div *ngFor = "let request of requests">
  
  <table class="table table-striped">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Request ID</th>
          <th>User Name</th>
          <th>Old Insurer Name</th>
          <!-- <th>Sum Insured</th> -->
          
          <th>Action</th> 
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><img class="img-thumbnail img-responsive" alt="image" src="./../../assets/img/user.jpeg" alt="Logo" class = "img-responsive" style="width: 50px; height: 50px;"/></td>
            <td>{{ request.portingRequestId }}</td>
            <td>{{ request.insuredName }}</td>
            <td>{{ request.newInsurerName }}</td>
            <button class = "btn btn-primary" (click)="port(request)">Accept Porting</button>
  <button class = "btn btn-primary">Reject Porting</button>
</tr> 

</tbody>
<tfoot>
    <tr>
      <td colspan="5" class="text-center">
        <div st-pagination="" st-items-by-page="itemsByPage"></div>
      </td>
    </tr>
  </tfoot>
</table>
</div> 
</div>
<br/>
<br/>
<br/>
<app-side-bar></app-side-bar>

<router-outlet></router-outlet>