<input [(ngModel)]="searchTerm" placeholder="Search for a form">
<button (click)="searchForForms(searchTerm)">Search</button>
<button (click)="clearSearch()">Clear Search</button>
<ul>
  <li *ngFor="let form of allFormFormats">
    <button (click)="showFormDetails(form.formId)">{{form.formName}}</button>
    <button (click)="deleteForm(form.formId)">DELETE</button>
  </li>
</ul>
<!-- <router-outlet [currentFormFormat]="currentFormFormat"></router-outlet> -->
<app-display-form *ngIf="showFormDetailsComponent" [currentFormFormat]='currentFormFormat' (saveFormIsClicked)="makeShowFormDetailsComponentFalse()"></app-display-form>
<app-add-new-form [allFormFormats]="allFormFormats" (newFormCreated)="getAllFormFormatsOnEventClick($event)"></app-add-new-form>