<form [formGroup]="guestUser">
  <mat-form-field  style = "margin-left: 28%;">
  <input  matInput placeholder="Email" [(ngModel)] ="email" formControlName="email" required/>
</mat-form-field>
<mat-form-field  style = "margin-left: 28%;">
  <input matInput placeholder="Phone number" formControlName="phone" required/>
</mat-form-field>
<br>

<div style = "margin-left: 50%; margin-bottom:20%;">
    <button class="btn btn-success btn-outline-rounded" (click)="submitForm(email)"> Submit <span style="margin-left:10px;"></span></button>
</div>
</form>