<!-- <div class = "jumbotron nav navbar-nav navbar-inverse">
  <b>Are You a Provider?</b>
  <a href= "#">Sign in</a>
  <ul class = "list-unstyled">
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Helpdesk</a></li>
    <li><a href="#">Portability</a></li>
    <li><a href="#">IRDA</a></li>
  </ul>
<div class="pull-right">
  <section class="wrapper">
    <a target="_blank" href="http://pie-health-insurance-agency.business.site/"><i class="fa fa-3x fa-google-plus"></i></a>
    <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa fa-3x fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.youtube.com/jr9fmJY_RwHf7EDBfYbmyQ" ><i class = "fa fa-3x fa-youtube"></i></a>
    <a target="_blank" href="#"><i class="fa fa-3x fa-twitter-square"></i></a>
    <a target ="_blank" href="https://pin.it/xn27du3vh6j2y5"><i class="fa fa-3x fa-pinterest"></i></a>
  </section>
</div>
</div> -->

<footer class="page-footer navbar-fixed-bottom font-small pt-4 navbar-inverse">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
      
        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 style = "color: white">Are You a Provider?<a [routerLink]="['/companyregister']" routerLinkActive="router-link-active" >Sign up</a></h5>
            <ul class="list-unstyled">
              <li>
                <a href="#!">FAQ</a>
              </li>
              <li>
                <a href="#!">Portability</a>
              </li>
              <li>
                <a href="#!">Helpdesk</a>
              </li>
              <li>
                <a href="#!">IRDA</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <!-- <div class="col-md-3 mb-md-0 mb-3">

            Links
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div> -->
          <!-- Grid column -->

      <!-- </div> -->
      <!-- Grid row -->

    <!-- </div> -->
    <!-- Footer Links -->
        <!-- </div> -->
    <div class = "wrapper pull-right">
    <a target="_blank" href="http://pie-health-insurance-agency.business.site/"><i class="fa fa-3x fa-google-plus"></i></a>
    <a target="_blank" href="https://www.facebook.com/Pie-1826847107420900/?modal=admin_todo_tour"><i class="fa fa-3x fa-facebook-square"></i></a>
    <a target="_blank" href="https://www.youtube.com/jr9fmJY_RwHf7EDBfYbmyQ" ><i class = "fa fa-3x fa-youtube"></i></a>
    <a target="_blank" href="#"><i class="fa fa-3x fa-twitter-square"></i></a>
    <a target ="_blank" href="https://pin.it/xn27du3vh6j2y5"><i class="fa fa-3x fa-pinterest"></i></a>
    </div>
  </div>
</div>
  </footer>
  <!-- Footer -->