
<div class="container" style="text-align:center; margin-left:20%; margin-bottom: 50%;">
  <div class="row" style="text-align:center">
    <div class="col-md-6" style="font-size:22px">Recommendations</div>
    <br /><br /><br /><br />
  </div>
  <div class="row" style="text-align:center">
    <div
      *ngFor="let blog of recommendations"
      class="col-md-3"
    >
      <div class="panel panel-default">
        <div class="panel-heading">{{ blog.policyName | uppercase }}</div>
        <div class="panel-body">
          <p>Policy Id : {{ blog.policyId }}</p>
        </div>
 
        <div class="panel-footer">
          <br /><br /><a
          [routerLink] = "['policyDetails', blog.insurerName, blog.policyName]"
           class="btn btn-primary" onClick="window.location.reload();"
           >Read more</a>
         <a [routerLink] = "['buyPolicy',blog.insurerName,blog.policyName,username]" class ="btn btn-primary"> Buy </a>
        </div>
      </div>
 
      <br />
    </div>
  </div>
 </div> 
<!-- <app-footer></app-footer>
<router-outlet></router-outlet> -->

