<div style="margin-left:30%;">

  <ul style="list-style: none">
    <li>Insured Name : {{ profile.username}}</li>
    <li>Email : {{ profile.email }}</li>
    <li>Age : {{profile.age}}</li>
    <li>Gender : {{profile.gender}}</li>
    <li>Full Name : {{ profile.fullName}}</li>
    <li>Family Members :
      <div *ngFor = "let count of profile.familyMembers">
        <li>Member Name : {{count.memberName}}</li>
        <li>Member Age: {{count.memberAge}}</li>
        <li>Member Gender : {{count.memberGender}}</li>
        <li>Relation : {{relation}}}</li>
      </div>
    </li>
    <a [routerLink]="['/updateProfile', profile.username]" class="btn btn-primary">Update</a>
  </ul>
</div>