<!-- <app-dashboard></app-dashboard> -->
<form [formGroup]="profileForm"  class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile>
          <div class="controles-container">

          <mat-form-field>
              <input formControlName="fullName" matInput placeholder="Full Name" >
              <!-- <input type = "text" [(ngModel)]={{profile.username}}> -->
            </mat-form-field>
          <mat-form-field>
              <input formControlName="gender" matInput placeholder="{{profile.gender}}"[readonly]="true">
          </mat-form-field>
          <mat-form-field>
              <input formControlName="email" matInput placeholder="{{profile.email}}" [readonly]="true">
          </mat-form-field>  
          <!-- <mat-form-field>
            <input formControlName="fullName" matInput placeholder="{{profile.}}" [readonly]="true">
        </mat-form-field>   
        <mat-form-field>
            <input formControlName="fullName" matInput placeholder="{{profile.username}}" [readonly]="true">
        </mat-form-field>    -->
      <!-- <li>Insured Name : {{ profile.username }}</li>
      <li>Password : {{ profile.password }}</li>
      <li>Email : {{ profile.email }}</li>
      <li>Full Name : {{ profile.fullName}}</li> -->
      <a [routerLink]="['/updateProfile', 'sachinten']" class="btn btn-primary">Update</a>
   </div>
    </mat-grid-tile>
    </mat-grid-list>
 <!-- <app-footer></app-footer>
 <router-outlet></router-outlet> -->
 