.message {
    border-radius: 10px;
    margin: 0 5px 10px;
    padding: 5px 2px;
    position: relative;
    font-weight: bold;
}
.message.to {
    background-color: #2095FE;
    color: #fff;
    margin-left: 150px;
    text-align: right;   
    margin-top:35px;

}
.message.from {
    background-color: orange;
    color: #363636;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}


.ng-valid{
    width: 20%;
}
.bottom{
    margin-left: 10%;
}
h1{
    text-align: center;
}

.content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0,0,0,.05);
  }

.mat-dialog-actions {
      justify-content: flex-end;
}
