
<div *ngFor="let policy1 of policies" class = "col-sm-4" style = "margin-bottom: 10%; margin-left: 10%;">
  <div class = "card" style = "width: 18rem">
  <!-- <img class = "card-img-top" src = '{{music.image[3]["#text"]}}' alt = "musicimage" /> -->
  <div class = "card-body">
      <p class = "card-text" >Policy-Name: {{ policy1.policyName }}</p>
      <p class = "card-text">Diseases Covered: </p>
      <div *ngFor="let disease of policy1.diseasesList">
              <p class = "card-text">{{ disease.diseaseName }}</p>
      </div>
      <p class = "card-text">Monthly-Premium: {{ policy1.monthlyPremium }}</p>
      <p class = "card-text">Age-Group: {{ policy1.minAge }} - {{ policy1.maxAge }}</p>
      <p class = "card-text">Sum Insured: {{ policy1.sumInsured }}</p>
      <button class = "card-footer btn btn-outline-success my-2 my-sm-0 btn-info" [routerLink]="['buyPolicy',policy1.policyName,policy1.insurerName,policy1.insuredName]">
        buy
      </button>
      </div>
  </div>
  