h1 {
    text-align: center;
    color: #ff0066;
 }
 h2 {
    text-align: center;
    color: #ff0066;
    ;
 }
 
 .tabbed-pane {
    align-items: center;
 }
 

 #cover {
    background-image: url("https://static-news.moneycontrol.com/static-mcnews/2018/10/critical-illness-health-insurance-1280x-720.jpg");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-position: center;
      background-size: cover;
      width: 100%;
      height: 50%;
      overflow: hidden;
 }