      <br/>
      <br/>
      <mat-tab-group style = "margin-left: 18%;" mat-align-tabs="center">
        <mat-tab label="First">
            <form [formGroup]="firstForm">
          <mat-form-field  style = "margin-left: 28%;">
          <input  matInput placeholder="Insurer Name" formControlName="insurerName">
        </mat-form-field>
        <br>
        <mat-form-field  style = "margin-left: 28%;">
          <input matInput placeholder="Policy Name" formControlName="policyName">
        </mat-form-field>
        <br>
         <mat-form-field style = "margin-left: 28%;">
          <input matInput placeholder="PolicyId" formControlName="policyId">
        </mat-form-field>
            </form>
        </mat-tab>
        <mat-tab label="Second">
            <form [formGroup]="secondForm">
          <mat-form-field style = "margin-left: 45%;">
          <input matInput placeholder="Min Sum Insured" formControlName="minSumInsured">
        </mat-form-field>
        <br>
        <mat-form-field style = "margin-left: 45%;">
          <input matInput placeholder="Max Sum Insured" formControlName="maxSumInsured">
        </mat-form-field>
        <br>
     
         <mat-form-field style = "margin-left: 45%;">
          <input matInput placeholder="No Of CashLess Hospitals" formControlName="hospitals">
        </mat-form-field>
         </form>
        </mat-tab>
        <mat-tab label="Third">
            <form [formGroup]="thirdForm">
          <mat-form-field style = "margin-left: 55%;">
          <input matInput placeholder="Min Age" formControlName="minAge">
        </mat-form-field>
        <br>
        <mat-form-field style = "margin-left: 55%;">
          <input matInput placeholder="Max Age" formControlName="maxAge">
        </mat-form-field>
        <br>
         <mat-form-field style = "margin-left: 55%;">
          <input matInput placeholder="Waiting Period" formControlName="waitingPeriod">
        </mat-form-field>
        </form>
      <br>
      <br>
      <div style = "margin-left: 60%;">
          <button class="btn btn-success btn-outline-rounded" (click)="onSubmit()"> Submit <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span></button>
      </div>
     
        </mat-tab>
     
      </mat-tab-group>
      <app-side-bar></app-side-bar>