<div class="contact">
<div class="first-text">
    <h1 > Contact Us</h1>
    <p >
        Make use of our expertise and consultation. We are happy to advice you in the languages
        <br>
        English,Hindi,Kannada,Telugu,Tamil and Malyalam. We provide policies for your requirements.
    </p>
</div>

<h2 >Persons of contact</h2>
<br>

<div class="container" style="width:auto">
    <div class="row">
        <div class="col-sm-3">
            <!-- <a href="#"><img style="width:90%" class="img-responsive" src="../images/images_sujan/contact1.jpg" alt=""></a> -->
            <a href="#"><img style="width:90%" class="img-responsive" src="./../assets/img/contact1.jpg" alt=""></a>
            <p style="padding-left: 15% ">
                Steffen Männle<br>
                <br>
                <!-- Sales GER/AT/CH/UK/PT<br> -->
                +49 7835 42699 29<br>
                sm@pie.com
            </p>

        </div>
        <div class="col-sm-3">
            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/contact2.jpg" alt=""></a>
                    
                <p style="padding-left: 15% ">
                    Anita Männle<br>
                    <br>
                    <!-- Sales D/DK/SE/NO/NL<br> -->
                    +49 7835 42699 11 <br>
                    am@pie.com
                </p>

        </div>
        <div class="col-sm-3">
            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/contac3.jpg"
                alt=""></a>
        <p style="padding-left: 15%" >
            Ruthard Männle<br>
            <br>
            <!-- Founder & CEO<br> -->
            +49 7835 42699 13<br>
            rm@purnatur.com
        </p>

        </div>
        <div class="col-sm-3">
            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/contact4.jpg"
                alt=""></a>
        <p style="padding-left: 15%" >
            Ruthard Männle<br>
            <br>
            Founder & CEO<br>
            +49 7835 42699 13<br>
            rm@purnatur.com
        </p>

        </div>
    </div>
</div>


<div class="container" style="width:auto">
    <div class="row">
        <div class="col-sm-12">
    <div id="map-container-google-1" class="z-depth-1-half map-container">
        <iframe src="https://maps.google.com/maps?q=Stackroute, 117, Above SBI, Opposite Raheja Arcade,, 7th Block, Koramangala, Bengaluru, Karnataka 560095, India&t=&z=13&ie=UTF8&iwloc=&output=embed"
            frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    </div>
    </div>
    </div>


<h1 >Direct inquiry</h1>
<div class="container" style="width:auto; margin-bottom: 20%;">
    <div class="row">
        <div class="col-sm-6">
            <!-- <h2 >Shipping Address</h2> -->

            <form>

                    <div class="form-group"> <!-- Full Name -->
                        <label for="full_name_id" class="control-label">Full Name</label>
                        <input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="John Deer">
                    </div>
                    

                    <div class="form-group"> <!-- Email-->
                        <label for="email_id" class="control-label">Email ID</label>
                        <input type="text" class="form-control" id="email_id" name="email" placeholder="johndeer@gmail.com">
                    </div>

                    <div class="form-group"> <!-- Mobile-->
                        <label for="mobile_number" class="control-label">Mobile No</label>
                        <input type="text" class="form-control" id="mobile_number" name="mobile_number" placeholder="9662738257">
                    </div>

                    <div class="form-group"> <!-- Message-->
                        <label for="Message" class="control-label">Message</label>
                        <input type="text" class="form-control" id="message" name="message" placeholder="Add your Message">
                    </div>
                
                    	
                
                   
                    
                   	
                    
                 <div class="form-group"> <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary">Submit!</button>
                    </div>     
                    
                </form>			

        </div>
        </div>
        </div>

        </div>

<app-footer></app-footer>        







       














      

      

      
    

  


 