
<div style="width:700px; margin:0 right ; margin-bottom:20%;">
    <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true" style="width:auto;color:wheat;background-color: red;position: relative">Close</button>
    </div>
    <br>
    <br>
    <br>
    <p>Username : {{profile.username}}</p><br>
    <p>Email : {{ profile.email }}</p><br>
    <p>Age : {{profile.age}}</p><br>
    <p>Gender : {{profile.gender}}</p><br>
    <p>Full Name : {{ profile.fullName}}</p><br>
    <p>No of premiums : 2</p><br>
</div>