<mat-tab-group animationDuration="2000ms" mat-align-tabs="center" >
    <mat-tab label="Company">
        <!-- <div class="background-image"> -->
      <h1>About Us</h1>
      <p>Pie Insurance Company is a platform for all Insurers to display their policies for purchase.
          We use our resources to focus on service excellence, design products and use core competency of innovation to deliver the best to our customers.
      </p>
      <p>
          At Pie Health Insurance, the company offers a wide range of health insurance products at affordable prices to make health insurance every human being’s right. And as a company, single-mindedly dedicated to health insurance.
      </p>
      <!-- </div> -->
    </mat-tab>
    <mat-tab label="Why Choose Us?">
        <!-- <div class="background-image"> -->
      <h1>Why Choose Us?</h1>
      <p>Pie Health Insurance provides a platform for all the Insurance companies to register and display their policies for purchase.
        We let customers buy policies of their interest. Insured can easily port policies from one Insurer to another. </p>
        <!-- </div> -->
      </mat-tab>
   
  </mat-tab-group>
  

  

<app-footer></app-footer>