
<div class="about">
<mat-tab-group animationDuration="2000ms" mat-align-tabs="center" >
        <mat-tab label="Company">
            
          <h1>About Us</h1>
          <p>Pie Insurance Company is a platform for all Insurers to display their policies for purchase.
              We use our resources to focus on service excellence, design products and use core competency of innovation to deliver the best to our customers.
          </p>
          <p>
              At Pie Health Insurance, the company offers a wide range of health insurance products at affordable prices to make health insurance every human being’s right. And as a company, single-mindedly dedicated to health insurance.
          </p>
          <!-- </div> -->
        </mat-tab>
        <mat-tab label="Why Choose Us?">
          
          <h1>Why Choose Us?</h1>
          <p>Pie Health Insurance provides a platform for all the Insurance companies to register and display their policies for purchase.
            We let customers buy policies of their interest. Insured can easily port policies from one Insurer to another. </p>
            <!-- </div> -->
          </mat-tab>

          <mat-tab label="Team">
          <h1>Meet the team</h1>
          <div class="container" style="width:auto">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- <a href="#"><img style="width:90%" class="img-responsive" src="../images/images_sujan/contact1.jpg" alt=""></a> -->
                        <a href="#"><img style="width:90%" class="img-responsive" src="./../assets/img/contact1.jpg" alt=""></a>
                        <h4 class="card-title" style="padding-left: 15%">Steffen Männle</h4>
                       
            
                    </div>
                    <div class="col-sm-3">
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/contact2.jpg" alt=""></a>
                            <h4 class="card-title" style="padding-left: 15%">Anita Männle</h4>     
                                
                
                        </div>
                        <div class="col-sm-3">
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/contac3.jpg"
                                alt=""></a>
                                <h4 class="card-title" style="padding-left: 15%"> Ruthard Männle</h4>

                      
                
                        </div>
                        <div class="col-sm-3">
                            <a href="#"><img style="width: 90%" class="img-responsive" src="./../assets/img/contact4.jpg"
                                alt=""></a>
                                <h4 class="card-title" style="padding-left: 15%"> Ruthard Männle</h4>
                       
                
                        </div>


                    </div>
                    </div>



                    
                
                </mat-tab>
       
      </mat-tab-group>
      </div>
    

