
h1{
    color:blue;
    height:60px;
    font-size:5rem;
    margin-left: 10rem;
}

p{
    color: black;
    text-align: justify;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 2rem;
}

.background-image{
    background: url(https://img.gulf-times.com/Content/Upload/slider/120166215324650284366.jpg) center center no-repeat;
    background-attachment: fixed;
    background-size: contain;
}